body{
  background-color: black;
}

#start{

}


#board{
  height: 1000px;
  width: 1270px;
  background-color: #bbb;
  border-radius: 14px;
}

#ball{
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 100%;
}


#paddle1{
  height: 150px;
  width: 30px;
  background-color: green;
}


#paddle2{
  margin-top: 50px;
  height: 150px;
  width: 30px;
  background-color: red;
}


#player1Score{
  color: white;
}


#player2Score{
  color: white;
}
