*{
  color: #39ff14 ;
  background-color: black;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}
h1{
  border: #39ff14 solid 1px;
  margin: 0px 0px;
}

h2{
  font-style: oblique;
  border: #39ff14 solid 1px;
  margin: 5px 100px;
}

img{
  width: 500px;
  border: #39ff14 solid 1px;
}