*{
  background-color: #241026;
  ;
}

#wrapper{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  color: #ceac81;
}
h1{
  color: #FFEAE2
}


.bullets{
  text-align: left;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

a{
  color: #c47140de;
}
a:hover{
  color: #FFE652;
}


footer{
  margin-top: 70%;
  margin-bottom: 20%;
}
footer.resume{
  margin-top: 10%;
}