
/*This is for Question 6 of Ch4 Lab*/
#wrapper{
  background-color: #FFF8DC; color:#000099 ; font-family: Arial, Helvetica, sans-serif;
}

/*This is for Question 3 of CH4 Lab*/
#Q3{
  color: brown;
  font-size: 1.2em;
  font-family: Arial, Verdana, sans-serif;
}

