/*---------------------------Handles the Banner---------------------*/
#RankenBanner{
  width: 100%;
}
/*---------------------------Handles the Nav---------------------*/
#appNav{
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 30px;
}
#appNav a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}
#ranken_r{
  width: 180px;
  height: 180px;
  margin-right: 26px;
  margin-left: -80px;
}
/*---------------------------Special Classes---------------------*/
.text-ranken-red{color: #E51937;}
.bg-ranken-red{background-color: #E51937;}
.text-ranken-white{color: #fff;}
.bg-ranken-white{background-color: #fff;}
