#wrapper{ /*This is the CSS to balance the white space*/
  width: 30%;
  margin: 0 auto; /*Custom margin/padding*/
  padding-bottom: 10px;
  text-align: center;
}/*Centers the div and what not*/

li{
  text-align: left;
  margin-left: 40%;
  margin: 20%; /*Custom margin/padding*/
  padding: 0px 10px;
}

h3{
  /*border to the bottom of your headings*/
  border-bottom: dashed blue;
}

img{
  border: 10px dashed green;
  margin: 20px ; /*Custom margin/padding*/
  padding: 5%;
}

body{
  /*Gradient Background for the body*/
  background-image: linear-gradient(to bottom left, white 25%, cyan 100%);
  color:rgb(2, 2, 2);
}
nav a, #onlineContact a{
  color: green;
}
nav a:hover, #onlineContact a:hover{
  color: red;
}

p{
  height: auto; width: 300px; /*custom height and width for p*/
}

header{
  /*Gradient Background for header*/
  background-image: linear-gradient(to bottom left, green 25%, cyan 100%);
  margin: 10%; /*Custom margin/padding*/
  padding-left: 20px;
}

#icons{ /*Social media icons (image links)*/
  width: 300px;
  margin: 10%;/*Custom margin/padding*/
  padding-left: 0%;
}