/*
------------------------------------------------------Font-------------------------------------------
*/
@font-face { font-family: "Open Sans"; 
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf'); 
} 
body{
  font-family: 'Open Sans';
}
/*
------------------------------------------------------Main-------------------------------------------
*/
/*--------------------------Links------------------------*/
a{
  color: #e51937;
}
/*--------------------------Cards------------------------*/
.card{
  margin: 40px;
}
.card-text p{
  font-size: 20px;
}
.card-text li{
  font-size: 20px;
}
.card-text li:not(:last-child) {
  margin-bottom: 20px;
}
/*
-----------------------------------------------------Nav---------------------------------------------
*/
/*--------------------------images------------------------*/
#ranken_r{ height:178px; width: 178px; margin-right: 10px;}
img{width: 100%;}
#list_brand{
    background-color: aliceblue;
    padding: 7px;
}
.nav-link{
  font-size: 20px;
}


/*------------------------Special classess-------------------------------*/
.text-ranken-red{color: #e51937;}
.bg-ranken-red{background-color: #e51937;}

/*
-----------------------------------------------Smaller Viewports---------------------------------------
*/
@media screen and (max-width: 1200px) {
  nav {display:none;}
  #secondary_nav {display:none;}
  #ranken_r {display:none;}
}
