/*
------------------------------------------------------Font-------------------------------------------
*/
@font-face { font-family: "Open Sans"; 
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf'); 
} 
body{
  font-family: 'Open Sans';
}
/*
------------------------------------------------------Main-------------------------------------------
*/
/*--------------------------Links------------------------*/
a{
  color: #e51937;
}
/*--------------------------Cards------------------------*/
.card{
  margin: 40px;
}
.card-text p{
  font-size: 20px;
}
.card-text li{
  font-size: 20px;
}
.card-text li:not(:last-child) {
  margin-bottom: 20px;
}
/*
-----------------------------------------------------Nav---------------------------------------------
*/
/*--------------------------images------------------------*/
#ranken_r{ height:178px; width: 178px; margin-right: 10px;}
img{width: 100%;}
#list_brand{
    background-color: #fff;
    padding: 7px;
}
.nav-link{
  font-size: 20px;
}
#mobileNavButton{
  display: none;
}
/*------------------------Special classess-------------------------------*/
.text-ranken-red{color: #E51937;}
.bg-ranken-red{background-color: #E51937;}
.text-ranken-white{color: #fff;}
.bg-ranken-white{background-color: #fff;}
/*
-----------------------------------------------Smaller Viewports---------------------------------------
*/
@media screen and (max-width: 1200px) {
  nav {display:none;}
  header {display:none;}
  
  main{
    margin-top: 100px;
  }
  #secondary_nav {display:none;}
  #ranken_r {display:none;}
  #mobileNavButton{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    width: 12.3%;
    height: 8%;
    color:#fff;
  }
  .username{
    margin-left: 2px;
    width: 100%;
    height: 100px;
  }
  .password{
    margin-left: 5px;
    width: 100%;
    height: 100px;
  }
  #mobileNavSubmit{
    width: 100%;
    height: 60px;
  }
}
