/*-----------------------------------------Special classes----------------------------------------------*/
.bg-charity-blue{
  background-color: #0302f3;
}
.text-charity-blue{
  color: #0302f3;
}
.bg-charity-cyan{
  background-color: #38b6ff;
}

/*Google font*/
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/*---------------------------------------------Header----------------------------------------------*/
span{
  border: white solid;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  text-shadow: 2px 2px grey;
  color: #0302f3;
}
.jumbotron img{
  width: 150px;
}

/*---------------------------------------------Nav----------------------------------------------*/
nav{
  background-color: white;
  font-size: 60px;
}
#ctc_logo{
  width: 120px;
  border-radius: 100%;
}
/*---------------------------------------------main----------------------------------------------*/
.card-text{
  font-size: 30px;
}
/*---------------------------------------------footer----------------------------------------------*/
footer img{
  width: 30px;
  height: 30px;
}
