

/*---------------------------------------------Header----------------------------------------------*/
#ctc_logo{
  width: 120px;
  border: solid #0302f3;
  border-radius: 100%;
}
/*---------------------------------------------Nav----------------------------------------------*/
nav{
  background-color: #0302f3;
  font-size: 30px;
}
/*---------------------------------------------main----------------------------------------------*/

/*---------------------------------------------footer----------------------------------------------*/