@media screen and (min-width: 601px){
  *{
    box-sizing: border-box;
  }
  html{
    font: 12pt arial, sans-serif;
  }
  body{
    margin: 0;
    padding:0;
    background-color: lightgray;
  }
  /*HEADER*/
  header{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color: black;
  }
  header h1, header h2{
    display: flex;
    align-items: center;
    margin: auto;
  }
  header img{
    width: 200px;
  }
  /*NAV*/
  nav{
    background-color: white;
    border: black solid;
  }
  nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-flow: row;
  }
  li{
    flex-flow: row;
    background-color: white;
  }
  li a{
    text-decoration: none;
    color: white;
    border: solid bl;
    font-size: 30px;
    background-color: black;
    border: solid black;
    border-radius: 30%;
  }
  li a:hover{
    color: white;
    background-color: black;
  }
  /*MAIN*/
  main{
    display: flex;
    align-items: flex-start;
    padding-bottom: 100px;
  }
  main img{
    height: 200px;
    justify-content: flex-start;
  }
  #columns{
    display: flex;
    margin: auto;
  }
  .columns_1{
    display: flex;
  }
  .columns_2{
    display: flex;
    width: 70%;
  }
  /*FOOTER*/

  footer{
    background-color: lightgray;
    padding-top: 1em ;
  }
  #footerinfo{
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  #copy{
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 600px){
  *{
    box-sizing: border-box;
  }
  html{
    font: 12pt arial, sans-serif;
  }
  body{
    margin: 0;
    padding:0;
    background-color: lightgray;
    display: flex;
    flex-flow: column wrap;
  }
  /*HEADER*/
  header{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color: black;
    order: 1;
  }
  header h1, header h2{
    display: flex;
    align-items: center;
    margin: auto;
  }
  header img{
    display: flex;
    width: 200px;
    justify-content: center;
  }
  /*NAV*/
  nav{
    background-color: white;
    border: black solid;
    order: 0;
  }
  nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  li{
    background-color: white;
  }
  li a{
    text-decoration: none;
    color: white;
    border: solid bl;
    font-size: 30px;
    background-color: black;
    border: solid black;
    border-radius: 30%;
  }
  /*MAIN*/
  main{
    display: flex;
    flex-flow: column;
    padding-bottom: 100px;
    order: 2;
  }
  main #niah{
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  main a{
    color: black;
    text-decoration: none;
    border:  white solid;
    border-radius: 30%;
    margin: auto;
  }
  #columns{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .columns_2{
    display: flex;
    justify-content: flex-start;
  }
  /*FOOTER*/

  footer{
    background-color: lightgray;
    padding-top: 1em ;
    order: 3;
  }
  #footerinfo{
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  #copy{
    display: flex;
    justify-content: flex-end;
  }
}