header{
  text-align: center;
}
main{
  text-align: center;
}
header div{
  margin-bottom: 10px;
}
/*Handles Paragraph Input Form visibility */
#pInputForm{
  display: none;
}
#pInputForm.open{
  display: block;
}
#pInput{
  width: 500px;
}
/*Handles unordered list InputForm visibility */
#ulInputForm{
  display: none;
}
#ulInputForm.open{
  display: block;
}
/*Handles ordered list InputForm visibility */
#olInputForm{
  display: none;
}
#olInputForm.open{
  display: block;
}